.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-card{
    margin: auto;
    width: 28vw;
    height: 60vh;
    background-color: var(--surface);
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2rem;
}

.forgot-card{
    margin: auto;
    width: 28vw;
    height: 45vh;
    background-color: var(--surface);
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2rem;
}


.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form {
  margin: 0;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.forgot-form {
  margin: 0;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remember-and-forgot {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}


.bttm_links{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #727171;
}

.eclipse-footer {
  width: 66vw;
  height: 7vh;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 125px;
}

.copyright {
  display: flex;
  gap: 1ch;
  align-items: center;
}