.map-container {
    position: relative;
    height: calc(100vh - (90px));
}

.map {
    height: calc(100vh - (90px));
    width:100vw;
    box-sizing: content-box;
    background-color: lightblue;
    z-index: 1;
    position: absolute;
}

.report-sidebar {
    z-index: 2;
    box-sizing: border-box;
    height: calc(100vh - (90px));
    width: 520px;
    background-color: var(--sidebar);
    position: absolute;
    border-right: 1px solid #E0E0E0;
    left: 0;
    transition: left 0.5s ease;
}
.hidden {
    left: -520px;
}

.sidebar-tab {
    height: 140px;
    width: 45px;
    background-color: rgba(245, 245, 245, 0.9);
    display: flex;
    align-items: center;
    position: absolute;
    left: 100%;
    border-radius: 0 30px 30px 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #E0E0E0;
}
.sidebar-tab i {
    font-size: 35px;
}

.sidebar-content {
    text-align: left;
    height: 70vh;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-inputs {
    display: flex;
    gap: 1rem;
}

.place-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdown {
    width: 100%;
}

.dropdown-toggle {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface);
    color: var(--muted);
    font-weight: 400;
}

.dropdown-menu {
    width: 100%;
    max-height: 300px; 
    overflow-y: auto;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.submit-section {
    width: 100%;
    display: flex;
    justify-content: center;
}