.map-container {
    position: relative;
    height: calc(100vh - (90px));
}

.map {
    height: calc(100vh - (90px));
    width: 100vw;
    box-sizing: content-box;
    background-color: lightblue;
    z-index: 1;
    position: absolute;
}

.report-sidebar {
    z-index: 2;
    box-sizing: border-box;
    height: calc(100vh - (90px));
    width: 25vw;
    background-color: var(--sidebar);
    position: absolute;
    border-right: 1px solid var(--border);
    left: 0;
    transition: left 0.5s ease;
}
.hidden {
    left: -25vw;
}

.sidebar-tab {
    height: 15vh;
    width: 45px;
    background-color: var(--sidebar);
    display: flex;
    align-items: center;
    position: absolute;
    left: 100%;
    border-radius: 0 1.875em 1.875em 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--border);
}
.sidebar-tab i {
    font-size: 2em;
    color: var(--text);
}

.sidebar-content {
    text-align: left;
    height: 70vh;
    padding: 2.25em 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-inputs {
    display: flex;
    gap: 1rem;
}

.place-inputs {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

.dropdown {
    width: 100%;
}

.dropdown-toggle {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface);
    color: var(--muted);
    font-weight: 400;
}

.dropdown-menu {
    width: 100%;
    max-height: 300px; 
    overflow-y: auto;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.submit-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gm-style .gm-style-iw-c {
    background-color: var(--bg);
}

.gm-style-iw-d { overflow: auto !important;}

.gm-ui-hover-effect>span { background-color: var(--text) !important;}