@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --border: #e0e0e0;
  --bg: #f5f5f5;
  --surface: #ffffff;
  --text: #3c3c3c;
  --muted: #4c4c4c;
  --category: #dadada;
  --accent: #0b58CC;
  --sidebar: rgba(245,245,245,0.9);
}

body.dark-mode {
  --border: #2e3238;
  --bg: #171a1f;
  --surface: #23262b;
  --text: #ededed;
  --muted: #b0b0b0;
  --category: #dadada;
  --accent: #0b58CC;
  --sidebar: rgba(23,26,31,0.9);
}

body {
  background-color: var(--bg);
  color: var(--text);
}