{% extends "allTemplate.html" %}
{% load static %}

{% block titulo %}
Carga de datos
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/loadFiles.css' %}">
{% endblock %}

{% block contenido %}

{% if success %}
    <div class="alert alert-success" style="width: 50%; text-align: center; z-index: 999; position: fixed; top: 0; left: 25%;" id="success-alert" role="alert">
        {{ success }}
        <script>
            setTimeout(function() {
                var successbox = document.getElementById("success-alert");
                if (successbox) {
                    successbox.style.transition = "opacity 0.75s";
                    successbox.style.opacity = "0";
                    setTimeout(() => successbox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger" style="width: 50%; text-align: center ; z-index: 999; position: fixed; top: 0; left: 25%;" id="error-alert" role="alert">
        {{ error }}
        <script>
            setTimeout(function() {
                var alertBox = document.getElementById("error-alert");
                if (alertBox) {
                    alertBox.style.transition = "opacity 0.75s";
                    alertBox.style.opacity = "0";
                    setTimeout(() => alertBox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

<div class="carga-container">
    <div class="carga-card">
        <form method="POST" action="{% url 'loadFilesService' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="carga-header">
                <h1>Carga de archivos</h1> 
                
                <!-- Sección del header para la carga de archivos-->
                <div class="file-input-section">
                    <a href="{% url 'download-template' %}">Descargar template</a>
                    <p id="file-name"></p>
                    <button class="cbr-button" type="button">
                        <label for="file">
                            <i class="bi bi-upload me-3"></i>Cargar archivo
                        </label>
                        <input type="file" id="file" name="archivo" style="display: none;" accept=".xlsx">
                    </button>
                </div>
            </div>

            <div class="carga-body">
                <!-- <fieldset id="manual-fieldset"> -->
                <!-- Detalles Section -->
                <div class="section-wrapper">
                    <h2 class="section-title">Detalles</h2>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <label>Delito</label>
                            <input type="text" class="cbr-text-input" placeholder="Escriba un tipo de delito">
                        </div>

                        <div class="col-md-3">
                            <label >Fecha y hora</label>
                            <input type="datetime-local" class="cbr-text-input">
                        </div>

                        <div class="col-md-3">
                            <label >Categoría del delito</label>
                            <select class="cbr-text-input">
                                <option selected>Selecciona una categoria de delito</option>
                                <option value="amenazas" class="options">Amenazas</option>
                                <option value="extorsión" class="options">Extorsión</option>
                                <option value="feminicidio" class="options">Feminicidio</option>
                                <option value="categoria de bajo impacto" class="options">Delito de bajo impacto</option>
                                <option value="hecho no delictivo" class="options">Hecho no delictivo</option>
                                <option value="homicidio doloso" class="options">Homicidio doloso</option>
                                <option value="arma de fuego" class="options">Lesión con arma de fuego</option>
                                <option value="lesiones dolosas por disparo de arma de fuego" class="options">Lesiones por arma de fuego</option>
                                <option value="narcomenudeo" class="options">Narcomenudeo</option>
                                <option value="organizaciones crimen organizado" class="options">Organizaciones Crimen Organizado</option>
                                <option value="robo a casa habitación" class="options">Robo a casa habitación</option>
                                <option value="robo a cuentahabiente saliendo del cajero con violencia" class="options">Robo a cuentahabiente</option>
                                <option value="robo a negocio" class="options">Robo a negocio</option>
                                <option value="robo a repartidor" class="options">Robo a repartidor</option>
                                <option value="robo a transeúnte" class="options">Robo a transeúnte</option>
                                <option value="robo a transportista" class="options">Robo a transportista</option>
                                <option value="robo de accesorios de auto" class="options">Robo de accesorios de auto</option>
                                <option value="robo de vehículo" class="options">Robo de vehículo</option>
                                <option value="robo a pasajero a bordo del metro" class="options">Robo en metro</option>
                                <option value="robo a pasajero a bordo de microbus" class="options">Robo en microbús</option>
                                <option value="robo a pasajero a bordo de taxi con violencia" class="options">Robo en taxi</option>
                                <option value="secuestro" class="options">Secuestro</option>
                                <option value="trata de personas" class="options">Trata de personas</option>
                                <option value="violación" class="options">Violación</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label >Icono</label>
                            <select class="cbr-text-input">
                                <option selected>Selecciona un icono</option>
                                <option value="default" class="options">Icono por defecto</option>
                                <option value="amenazas" class="options">Amenazas</option>
                                <option value="extorsión" class="options">Extorsión</option>
                                <option value="feminicidio" class="options">Feminicidio</option>
                                <option value="categoria de bajo impacto" class="options">Delito de bajo impacto</option>
                                <option value="hecho no delictivo" class="options">Hecho no delictivo</option>
                                <option value="homicidio doloso" class="options">Homicidio doloso</option>
                                <option value="arma de fuego" class="options">Lesión con arma de fuego</option>
                                <option value="lesiones dolosas por disparo de arma de fuego" class="options">Lesiones por arma de fuego</option>
                                <option value="narcomenudeo" class="options">Narcomenudeo</option>                        
                                <option value="mayos" class="options">Organizaciones Crimen Organizado (Mayos)</option>
                                <option value="chapitos" class="options">Organizaciones Crimen Organizado (Chapitos)</option>
                                <option value="robo a casa habitación" class="options">Robo a casa habitación</option>
                                <option value="robo a cuentahabiente saliendo del cajero con violencia" class="options">Robo a cuentahabiente</option>
                                <option value="robo a negocio" class="options">Robo a negocio</option>
                                <option value="robo a repartidor" class="options">Robo a repartidor</option>
                                <option value="robo a transeúnte" class="options">Robo a transeúnte</option>
                                <option value="robo a transportista" class="options">Robo a transportista</option>
                                <option value="robo de accesorios de auto" class="options">Robo de accesorios de auto</option>
                                <option value="robo de vehículo" class="options">Robo de vehículo</option>
                                <option value="robo a pasajero a bordo del metro" class="options">Robo en metro</option>
                                <option value="robo a pasajero a bordo de microbus" class="options">Robo en microbús</option>
                                <option value="robo a pasajero a bordo de taxi con violencia" class="options">Robo en taxi</option>
                                <option value="secuestro" class="options">Secuestro</option>
                                <option value="trata de personas" class="options">Trata de personas</option>
                                <option value="violación" class="options">Violación</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label >Descripcion del delito (opcional)</label>
                            <textarea class="cbr-textarea-input" rows="3" placeholder="Agregue una descripción detallada"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Direccion Section -->
                <div class="section-wrapper">
                    <h2 class="section-title">Direccion</h2>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <label >Calle</label>
                            <input type="text" class="cbr-text-input" placeholder="Calle">
                        </div>

                        <div class="col-md-3">
                            <label >Colonia</label>
                            <input type="text" class="cbr-text-input" placeholder="Colonia">
                        </div>

                        <div class="col-md-3">
                            <label >Estado</label>
                            <input type="text" class="cbr-text-input" placeholder="Estado">
                        </div>

                        <div class="col-md-3">
                            <label >Municipio</label>
                            <input type="text" class="cbr-text-input" placeholder="Municipio">
                        </div>
                    </div>
                </div>

                <!-- Coordenadas Section -->
                <div class="section-wrapper">
                    <h2 class="section-title">Coordenadas (opcional)</h2>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label >Latitud</label>
                            <input type="text" class="cbr-text-input" placeholder="Latitud">
                        </div>

                        <div class="col-md-6">
                            <label >Longitud</label>
                            <input type="text" class="cbr-text-input" placeholder="Longitud">
                        </div>
                    </div>
                </div>
                
                <!-- </fieldset> -->
                <!-- Submit Button -->
                <div class="submit-wrapper">
                    <button type="submit" class="cbr-submit-button" id="uploadFilesBtn">Subir</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modales -->
     <div class="modal fade" data-bs-backdrop="static" id="cbr-loading-modal" aria-hidden="true" aria-labelledby="cbr-loading-modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Subiendo archivos... por favor espere.</h1>
                </div>
                <div class="modal-body" style="display: flex; justify-content: center;">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ loading_bulk|json_script:"loading_bulk" }}

    <script>
        const uploadBtn = document.getElementById('uploadFilesBtn');
        const loadingModal = new bootstrap.Modal('#cbr-loading-modal');
        uploadBtn.addEventListener('click', () => loadingModal.show());
        const loadingBulk = JSON.parse(document.getElementById('loading_bulk').textContent);
        let intervalId = null;

        if(loading_bulk){
            loadingModal.show()
            let intervalId = setInterval(checkBulkStatus, 1500)
        }

        function checkBulkStatus(){
            fetch ("{% url 'check_bulk_status' %}")
            .then(response => response.json())
            .then(data => {
                if (data.status == 'finished'){
                    clearInterval(intervalId);
                    loadingModal.hide();

                    showSuccessAlert("Carga completada. Eventos insertados: " + data.inserted);
                }
            });
        }

        function showSuccessAlert(message){

            const alertBox = document.createElement("div");

            alertBox.className = "alert alert-success";
            alertBox.id = "success-alert";

            alertBox.style.width = "50%";
            alertBox.style.textAlign = "center";
            alertBox.style.zIndex = "999";
            alertBox.style.position = "fixed";
            alertBox.style.top = "0";
            alertBox.style.left = "25%";

            alertBox.innerText = message;

            document.body.appendChild(alertBox);

            setTimeout(function(){

                alertBox.style.transition = "opacity 0.75s";
                alertBox.style.opacity = "0";

                setTimeout(() => alertBox.remove(), 500);

            }, 3000);
        }

    </script>

    <script>
        const inputArchivo = document.getElementById('file');
        const nombreArchivo = document.getElementById('file-name');
        const manualForm = document.getElementById('manual-form')
        const formFieldset = document.getElementById('manual-fieldset')

        //Si el input de archivo cambia, el formulario manual se reinicia y se desactiva
        inputArchivo.addEventListener('change', function () {
            if (this.files.length > 0) {
                nombreArchivo.textContent = 'Archivo seleccionado: ' + this.files[0].name;
                manualForm.reset()
                formFieldset.disabled = true 
            } else {
                nombreArchivo.textContent = '';
            }
        });
    </script>
</div>

{% endblock %}