{% extends "allTemplate.html" %}
{% load static %}


{% block titulo %}
Inicio
{% endblock %}



{% block contenido %}
    <h4 class="welcome">Bienvenido de nuevo, {{ name }}</h4>
<div style="display: flex;flex-direction: row;">
    <div class="Search">
        <br>
        <div class="topSearch">
            <h3 class="Searchtitle">Visualización geográfica</h3>
            <button class="searchBttn" type="submit">Buscar <span><i class="bi bi-search ms-3"
                style="color: #2686B0;"></i></span></button>
        </div>
        <br>
        <h5 class="filters">Filtros</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="inputFilters">
                <div>
                    <label for="exampleFormControlInput1" class="label_filters">Fecha</label>
                    <input class="form-control" type="text" placeholder="Estado" id="estado" name="estado">
                </div>


                <label  class="label_filters">Evento</label>
                <select class="form-select" aria-label="Default select example" name="event"
                    style="font-family: Inter, sans-serif;color: #838383;">
                    <option selected class="options">Selecciona un tipo de evento</option>
                    <option value="true" class="options">Otorgar permisos</option>
                    <option value="false" class="options">Denegar permisos</option>
                </select>
                <br>
                <label  class="label_filters">Ubicación</label>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <input class="form-control" type="text" placeholder="Estado" id="estado" name="estado">
                    </div>
                    <div class="col-md-6 mb-4">
                        <input class="form-control" type="text" placeholder="Municipio" id="municipio" name="municipio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: -3%;">
                        <input class="form-control" type="text" placeholder="Colonia" id="colonia" name="colonia">
                    </div>
                    <div class="col-md-6" style="margin-top: -3%;">
                        <input class="form-control" type="text" placeholder="Calle" id="calle" name="calle">
                    </div>
                </div>
                <hr class="separationTwo">
                <input class="form-control" type="text" placeholder="Latitud" id="name" name="name">
                <br>
                <input class="form-control" type="text" placeholder="Longitud" id="name" name="name">
            </div>

        </form>

    </div>
    <div id="mapa" style="height: 600px; width:65%;display: flex;align-self: center;"></div>
</div>
    

    <script id="marcadores-json" type="application/json">
        {{ markers|safe }}
    </script>

    <script>
        function initMap(){

            var marcadores = JSON.parse(document.getElementById('marcadores-json').textContent);

            map = new google.maps.Map(document.getElementById("mapa"), {
                zoom: 6,
                center: {lat:19.42847, lng:-99.12766}
            });

            const iconos = {
                amenazas:"{% static 'mapIcons/enfado.png' %}",
                robonegocio: "{% static 'mapIcons/delito.png' %}",
                homicidiodoloso: "{% static 'mapIcons/escena-del-crimen.png' %}",
                feminicidio: "{% static 'mapIcons/stop-violence.png' %}",
                secuestro: "{% static 'mapIcons/tied.png' %}",
                tratapersonas: "{% static 'mapIcons/human-trafficking.png' %}",
                robotranseunte: "{% static 'mapIcons/rob.png' %}",
                extorsion: "{% static 'mapIcons/blackmail.png' %}",
                robocasa: "{% static 'mapIcons/thief.png' %}",
                violacion: "{% static 'mapIcons/security.png' %}",
                narcomenudeo: "{% static 'mapIcons/narcotics.png' %}",
                bajoimpacto: "{% static 'mapIcons/esposas.png' %}",
                robovehiculo: "{% static 'mapIcons/robovehiculo.png' %}",
                armafuego: "{% static 'mapIcons/pistol.png' %}",
            }

            marcadores.forEach(function (marcador){
                const iconoUrl = iconos[marcador.icono]
            var marker = new google.maps.Marker({
                position: { lat: marcador.lat, lng: marcador.lng },
                map: map,
                title: marcador.Categoria,
                icon: {
                    url: iconoUrl,
                    scaledSize: new google.maps.Size(40,40)
                }
            })
        })
        }

        window.initMap = initMap
    
    </script>
   
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQGP7O3B9OzJIj6yAoknc8AC4YaSE-2Cc&callback=initMap" async defer></script>
{% endblock %}