{% extends "allTemplate.html" %}
{% load static %}

{% block titulo %}
Agregar usuarios
{% endblock %}

{% block contenido %}

{% if success %}
    <div class="alert alert-success" style="width: 50%; text-align: center; z-index: 999; position: fixed; top: 0; left: 25%;" id="success-alert" role="alert">
        {{ success }}
        <script>
            setTimeout(function() {
                var successbox = document.getElementById("success-alert");
                if (successbox) {
                    successbox.style.transition = "opacity 0.75s";
                    successbox.style.opacity = "0";
                    setTimeout(() => successbox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger" style="width: 50%; text-align: center ; z-index: 999; position: fixed; top: 0; left: 25%;" id="error-alert" role="alert">
        {{ error }}
        <script>
            setTimeout(function() {
                var alertBox = document.getElementById("error-alert");
                if (alertBox) {
                    alertBox.style.transition = "opacity 0.75s";
                    alertBox.style.opacity = "0";
                    setTimeout(() => alertBox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

<div class="addUsers">

    <form method="POST">
    {% csrf_token %}
    <br>
    <div class="banner">
        <h1 class="bann_title">Administrar a un usuario</h1>
        <button type="submit" class="send">Actualizar</button>
        
    </div>
    <div class="addInput">
        <hr class="separation">

        <div class="input-box">
            <div class="row">
                <div class="col-md-6 mb-4">
                    
                    <label for="exampleFormControlInput1" class="form-label">Correo electrónico del usuario a modificar</label>
                    <input type="email" class="form-control" id="email" placeholder="Correo" name="email">
                    
                </div>
                <div class="col-md-6 mb-4">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                    <input class="form-control" type="text" placeholder="Contraseña"  id="password" name="password">
                    
                </div>

                <div class="col-md-6 mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombre"  id="name" name="name">
                </div>
                
                
            </div>
            <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                        <input class="form-control" type="text" placeholder="Apellido"  id="lastname" name="lastname">
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Privilegios</label>
                        <select class="form-select"  name="privileges">
                            <option selected>Seleccionar permisos de administrador</option>
                            <option value="true">Otorgar permisos</option>
                            <option value="false">Denegar permisos</option>
                        </select>
                    </div>
                    
                </div>
        </div>
        <button type="button" class="deleteUser" data-bs-toggle="modal" data-bs-target="#deleteUser">Eliminar usuario</button>
        
        
    </div>
    
</form>
</div>
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserLabel">¿Estás seguro de eliminar a este usuario?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="modal-body">
                <h5 class="modal-title" id="userMail">Correo</h5>
                <input class="form-control" type="text" placeholder="Correo"  id="email" name="email">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Eliminar</button>
              </div>
        </form>
        
      </div>
    </div>
  </div>

</div>


{% endblock %}